[submodule "style/scss/scut"]
	path = style/scss/scut
	url = https://github.com/davidtheclark/scut.git
[submodule "src/scss/scut"]
	path = src/scss/scut
	url = https://github.com/davidtheclark/scut.git
