header.site-header

  a(href="/").site-logo Tucson Trailguide

  nav
    ul.nav
      li
        a(href="").nav--i About
      li
        a(href="/map").nav--i Map
      li
        a(href="").nav--i Search
      li
        a(href="").nav--i Sign-in

