extends base

block more
    h2 Calculated data

    table
        tr
            td Distance
            td#distance-val
        tr
            td Cumulative Elevation Gain
            td#elevation-val