!!!
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Wonderful Trails

        if dev
            link(rel="stylesheet", href="/bower_components/leaflet/dist/leaflet.css")
            link(rel="stylesheet", href="/dist/main.css")
        else
            link(rel="stylesheet", href="/dist/main.min.css")

        script(src="/js/main.js")

        block head

    body

        block header
            include includes/header

        block body

        if dev
            script(src="/bower_components/leaflet/dist/leaflet-src.js")
            script(src="/bower_components/jquery/jquery.js")
            each script in devScripts
                script(src="/#{script}")
            script(src="http://localhost:35729/livereload.js")
        else
            script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")
            script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
            script(src="/dist/js-built.min.js")
        block bottomscripts