extends base

block body

    .row
        .columns.large-3
            .map-sidebar
                p Sidebar contents
        .columns.large-9
            #map.map

block bottomscripts
    script(src="ours/map.js")